@model IEnumerable<Bjj.Models.Fighter>
@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Details";
}

<h1>List of competitors <a asp-action="Add" class="btn" >Add Fighter</a> 

</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeightCategory)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.BeltColour)
        </th>
        <th>
            Akadamia
        </th>               
        <th>
           Manage
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeltColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAcademy.Name)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
    }
    </tbody>
</table>