@model IEnumerable<Bjj.Models.Academy>
@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Details";
}

<h1><a asp-action="Add" class="btn" >Add academy</a>

</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.HeadCoach)
        </th>         
        <th>
            Manage
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.HeadCoach)
            </td>                  
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
    }
    </tbody>
</table>